.Container {
   padding: 0px 15px;
   margin: 0px auto;
   max-width: 1240px;
}

@media (max-width:1199.98px) {
   .Container {
      max-width: 970px;
   }
}

@media (max-width:991.98px) {
   .Container {
      max-width: 750px;
   }
}

@media (max-width:766.98px) {
   .Container {
      max-width: none;
      padding: 0px 10px;
   }
}